SECRET_KEY="SECRET_KEY"
CSRF_TRUSTED="127.0.0.1"
DEBUG="True"
DB_ENGINE="django.db.backends.postgresql"
DB_NAME="postgres"
DB_USER="postgres"
POSTGRES_PASSWORD="postgres"
DB_HOST="postgresql"
DB_PORT="5432"
CELERY_BROKER_URL="redis://redis:6379/0"
CELERY_RESULT_BACKEND="redis://redis:6379/0"
